mixin news-aside(data)
  .news-aside
    h5.title.title--orange= data.title
    ul
      each index in data.news
        li
          a(href='#').d-flex.my-3
            img(src='http://via.placeholder.com/86x86').news-aside__img.mr-2
            p Tiêu đề tin tức #{index} Lorem ipsum dolor sit. 

mixin news-aside-type2(data)
  h5.title.title--orange= data.title
  ul.news-aside
    each index in data.news
      li
        a(href='#').d-flex.my-3
          img(src='http://via.placeholder.com/86x86').news-aside__img.mr-2
          p Tiêu đề tin tức #{index} Lorem ipsum dolor sit. 

mixin news-head()
  .news-head.d-flex
    img(src='http://via.placeholder.com/456x295').news-head__img
    .d-flex.flex-column.justify-content-center.ml-3
      .d-flex.mb-4
        +button('Mẹ và bé', 'anchor').btn-sm.btn--tag.mr-2
        +button('Sữa nội', 'anchor').btn-sm.btn--tag.mr-2
        +button('Vinamilk', 'anchor').btn-sm.btn--tag.mr-2
      h5.title.title--orange-dark Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important. The cover page design and the design of your catalog’s product pages all play important roles in designing a catalog that will bring in new customers and sales...
      .d-flex.justify-content-end.mt-5
        +button('Xem thêm', 'anchor')
          
mixin news-pre-head()
  .news-pre-head.d-flex
    img(src='http://via.placeholder.com/358x224')
    .d-flex.flex-column.justify-content-center.ml-3
      .d-flex.mb-4
        +button('Đồ gia dụng', 'anchor').btn-sm.btn--tag.mr-2
        +button('Ghế đa năng', 'anchor').btn-sm.btn--tag.mr-2
      h5.title.title--orange-dark Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important...
    a.news-pre-head__next.align-self-center(href='#')
      +ionicon('ion-ios-arrow-right')

mixin news-tabs(data)
  .tab-content.news-tabs__content
    each tab in data.tabs
      //- Tab pane
      .tab-pane.fade(role='tabpanel', class= tab.active ? 'show active' : '', id= tab.id)
        img(src=`images/${tab.img}`).news-tabs__content__img
        .news-tabs__content__caption
          h5.title.title--white= tab.title
          p.font-color-white Lorem ipsum dolor sit amet, consectetur adipiscing elit.

  .nav.nav-pills.flex-column.news-tabs__tabs&attributes(attributes)(role='tablist')
    each tab in data.tabs
      //- Nav tabs
      a.nav-link.d-flex(role='tab', data-toggle='tab' class= tab.active ? 'active' : '', href= tab.href)
        img(src=`images/${tab.thumb}`)
        p= tab.title

mixin news-piece
  .d-flex
    img(src='http://via.placeholder.com/262x158')
    .d-flex.flex-column.justify-content-center.ml-3
      h5.title Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important...
      +button('...').btn--primary