mixin news-aside(data)
  .news-wrapper&attributes(attributes)
    h5.title.title--orange= data.title
    ul
      each index in data.news
        li
          a(href='#').d-flex.my-3
            img(src='http://via.placeholder.com/86x86').img-rounded.mr-2
            p Tiêu đề tin tức #{index} Lorem ipsum dolor sit.

mixin news-aside-type2(data)
  h5.title.title--orange.title--upper.my-3= data.title
  ul.news-wrapper
    each index in data.news
      li
        a(href='#').d-flex.mb-3
          img(src='http://via.placeholder.com/86x86').img-rounded.mr-2
          p Tiêu đề tin tức #{index} Lorem ipsum dolor sit.

mixin news-head()
  .news-head.d-flex
    img(src='http://via.placeholder.com/456x295').news-head__img
    .d-flex.flex-column.justify-content-center.ml-3
      .d-flex.mb-4
        +button('Mẹ và bé', 'anchor').btn-sm.btn--tag.mr-2
        +button('Sữa nội', 'anchor').btn-sm.btn--tag.mr-2
        +button('Vinamilk', 'anchor').btn-sm.btn--tag.mr-2
      h5.title.title--orange-dark Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important. The cover page design and the design of your catalog’s product pages all play important roles in designing a catalog that will bring in new customers and sales...
      .d-flex.justify-content-end.mt-5
        +button('Xem thêm', 'anchor')

mixin news-pre-head()
  .news-pre-head.d-flex
    img(src='http://via.placeholder.com/358x224').news-pre-head__img
    .d-flex.flex-column.justify-content-center.ml-3
      .d-flex.mb-4
        +button('Đồ gia dụng', 'anchor').btn-sm.btn--tag.mr-2
        +button('Ghế đa năng', 'anchor').btn-sm.btn--tag.mr-2
      h5.title.title--orange-dark Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important...
    a.news-pre-head__next.align-self-center(href='#')
      +ionicon('ion-ios-arrow-right')

mixin news-tabs(data)
  .row.mb-3
    .col-8
      .tab-content.news-tabs__content
        each tab in data.tabs
          .tab-pane.fade(role='tabpanel', class= tab.active ? 'show active' : '', id= tab.id)
            img(src= tab.img).news-tabs__main-img
            .news-tabs__caption
              h5.title.title--white= tab.title
              p.font-color-white.mr-4.mt-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, fugit animi iste porro sed excepturi architecto atque totam accusamus assumenda? Lorem ipsum dolor sit amet
    .col-4.px-0
      .nav.nav-pills.d-flex.flex-column.justify-content-between.h-100.news-tabs__links(role='tablist')
        each tab in data.tabs
          //- Nav tabs
          a.nav-link.d-flex(role='tab', data-toggle='pill' class= tab.active ? 'active' : '', href= tab.href)
            img(src= tab.thumb).img-rounded
            p.ml-2= tab.title

mixin news-piece()
  .d-flex.my-2
    img(src='http://via.placeholder.com/262x158').img-rounded.news-piece__img
    .d-flex.flex-column.justify-content-center.ml-3
      h5.title Lợi ích của các dòng sữa nội
      .font-color-gray200.mt-1
        +ionicon('ion-android-calendar')
        span 10-10-2010
      p.mt-3.font-color-gray200.text-justify There are many things that are important to catalog design. Your images must be sharp and appealing. Your text and even the font you use for the text is important...
      +button('...', 'anchor').btn--more.my-2

mixin products-aside(data)
  h5.title.title--orange.title--upper= data.title
  ul
    each index in data.products
      li
        a(href='#').d-flex.my-3.products-aside
          img(src='http://via.placeholder.com/107x115').img-rounded.mr-2
          .d-flex.flex-column.justify-content-between
            p.mt-2 Tên loại sản phẩm Lorem isprum #{index} Lorem ipsum dolor sit.
            .mt-auto.mb-2
              p Từ
                span.tzt-product-card__price.ml-1 125.000đ
              p.my-1.font-color-gray100.font-size-12 Có
                span 05
                span nơi bán

mixin news-sp(data)
  ul.news-wrapper.news-sp
    each index in data.news
      li
        a(href='#').d-flex.mb-3.mx-3
          .d-flex.justify-content-center.align-items-center.mr-2
            img(src='images/sp_img5.png').news-sp__img.img-rounded
          .d-flex.flex-column
            h2.news-sp__title Tin tức #{index} Giá sữa tắm Chico bao nhiêu?
            p.news-sp__article Sữa tắm hương hoa Cúc có tốt cho da bé nhạy cảm không?
              <br>
              | Sữa nào tốt nhất cho da bé?
              <br>
              | Sữa nào tốt nhì cho da bé?